* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #fff;
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: #111;
}

body{
    overflow-x: hidden;
}

#page1{
    height: 100%;
    width: 100%;
    background-color: lightblue;
}

#page2{
    height: 100%;
    width: 100%;
    background-color: rgb(107, 203, 235);
    padding: 5vw 0;
}

#page3{
    height: 100%;
    width: 100%;
    background-color: rgb(32, 163, 207);
}

/* #box{
    height: 300px;
    width: 300px;
    background-color: crimson;
} */




#page2 h1{
    font-size: 40vw;
    color: #111;
}